.index-rubrik{
    text-align: center;
    background-color:bisque;
    font-style: italic;

}
.index-underrubrik{
    text-align: center;
    background-color:bisque;
}
.knapp-1{
    width: 150px;
    height: 75px;
}
.knapp-2{
    width: 150px;
    height: 75px;
}
.knapp-3{
    width: 150px;
    height: 75px;
}
.bild-1{
    block-size: auto;
}
ul.navigering{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
div.pic-col{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}